.firstfoot {
  margin-top: 4em;
  margin-left: 8em;
  margin-left: 5em;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 3em 0;
}

.first-foot-intro {
  font-weight: lighter;
  font-size: 17px;
  line-height: 1.6em;
  margin-left: 2em;
}

.firstfoot hr {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .firstfoot {
    margin-top: 2em;
    margin-left: 0;
    margin-left: 0;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .first-foot-intro {
    font-weight: lighter;
    font-size: 18px;
  }

  
.firstfoot hr {
    width: 100%;
  }
}
