.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  gap: 9em;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 3em;
}

.nav-links a {
  font-size: 10px;
  font-style: italic;
  transition: all 0.4s;
}

.nav-links a:hover {
  color: #ff7b00;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 425px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 30px;
    font-weight: lighter;
  }

  .nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    position: relative;
  }

  .nav-links.active {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    gap: 2em;
    margin-top: 17em;
    right: 5px;
    z-index: 30;
    background-color: black;
  }

  .nav-links.active:hover{
      color: #ff7b00;
  }
}
